
body {
    background-color: #fc1;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    font-family: 'Rubik', sans-sans-serif;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
}

nav {
    color: #111;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 10px;
}

nav a:first-child {
    margin-right: auto;
    font-family: 'Righteous', sans-sans-serif;
    font-size: 28px;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #111;
    margin: 0 10px;
    border: 2px solid transparent;
}

nav a:not(:first-of-type) {
    font-weight: 500;
    border: 2px solid #fff;
    padding: 9px 20px;
}

nav a:not(first-of-type):hover {
    
}

/* Fancy fade-in-on-load. TODO: Reimplement */
/* header > h1 {
    opacity: 0;
    transition: .4s opacity .1s;
}
header > nav {
    opacity: 0;
    transition: .4s opacity .3s;
}
header > p {
    opacity: 0;
    transition: .4s opacity .5s;
}
header.loaded-js:not(.collpased) > * {
    opacity: 1;
} */
