
body {
    background-color: #fc1;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    font-family: 'Rubik', sans-sans-serif;
}

header {
}

footer {
    position: relative;
    margin: 30px auto;
    width: 80%;
    overflow: hidden;
}

footer > div {
    width: 46%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer div:first-child {
    flex-flow: column;
    text-align: right;
    float: left;
}

footer div:first-child ul {
    justify-content: flex-end;
}

footer div:last-child {
    float: right;
    flex-flow: column-reverse;
}

footer div:last-child ul {

}

footer ul {
    color: #111;
    display: flex;
    padding: 0;
}

footer li {
    list-style: none;
    margin: 0 10px;
}

footer a {
    text-decoration: none;
    font-size: 16px;
    color: #111;
    border: 2px solid transparent;
    font-weight: 500;
    border: 2px solid #fff;
    padding: 9px 20px;
}

footer:before,
footer:after {
    content: '';
    position: absolute;
}

footer:before {
    width: 2px;
    height: 100vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: white;
    transition: .2s all;
}

footer:after {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 0 100px #fc1 inset;
    box-shadow: 0 0 0 0 #fc1 inset;
    transition: .2s all;
}

/* Fancy fade-in-on-load. TODO: Reimplement */
/* header > h1 {
    opacity: 0;
    transition: .4s opacity .1s;
}
header > nav {
    opacity: 0;
    transition: .4s opacity .3s;
}
header > p {
    opacity: 0;
    transition: .4s opacity .5s;
}
header.loaded-js:not(.collpased) > * {
    opacity: 1;
} */
