h1,
h2,
h3 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  letter-spacing: .05em;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

body.home h1 {
  font-family: 'Fira Code', monospace;
  color: var(--yellow);
  font-size: clamp(3rem, 2.8rem + 1vw, 4rem);
  font-size: clamp(3.5rem, 3.3rem + 1vw, 4.5rem);
  letter-spacing: 0;
}
