p a {
  color: var(--yellow);
  text-shadow:
    0 1px 0 var(--gray-dark),
    0 -1px 0 var(--gray-dark),
    1px  0 var(--gray-dark),
    -1px 0 0 var(--gray-dark);
  background-image:
    linear-gradient(
      transparent calc(100% - 4px),
      var(--off-white) 0 calc(100% - 3px),
      transparent 0
    ),
    linear-gradient(
      transparent calc(100% - 2px),
      white calc(100% - 1px) 100%
    );
  background-repeat: no-repeat;
  background-size: 100% 100%, 0 100%;
  transition: background-size .2s;
  text-decoration-color: var(--gray-dark);
}
/*
.blog h2 a,
.read-more {
  color: var(--gray-dark);
  text-decoration: none;
  text-shadow:
    0 2px 0 var(--off-white),
    0 -2px 0 var(--off-white),
    2px  0 var(--off-white),
    -2px 0 0 var(--off-white);
  background-image:
    linear-gradient(
      transparent calc(100% - 9px),
      var(--gray-dark) 0,
      var(--gray-dark) calc(100% - 7px),
      transparent 0
    );
  background-position: .2em 0;
  background-size: 0 100%;
}

.read-more {
  background-image:
    linear-gradient(
      transparent calc(100% - 6px),
      var(--gray-dark) 0,
      var(--gray-dark) calc(100% - 4px),
      transparent 0
    );
} */

p a:hover,
p a:focus {
  background-size: 100% 100%, 100% 100%;
}

/* .blog h2 a:focus,
.blog h2 a:hover,
.read-more:focus,
.read-more:hover {
  background-size: calc(100% - .4em) 100%;
} */
