p a {
  color: var(--yellow);
  text-shadow:
    0 1px 0 var(--gray-dark),
    0 -1px 0 var(--gray-dark),
    1px  0 var(--gray-dark),
    -1px 0 0 var(--gray-dark);
  background-image:
    linear-gradient(
      transparent calc(100% - 4px),
      var(--off-white) 0 calc(100% - 3px),
      transparent 0
    ),
    linear-gradient(
      transparent calc(100% - 2px),
      white calc(100% - 1px) 100%
    );
  background-repeat: no-repeat;
  background-size: 100% 100%, 0 100%;
  transition: background-size .2s;
  text-decoration-color: var(--gray-dark);
}

p a:hover,
p a:focus {
  background-size: 100% 100%, 100% 100%;
}
