.listing {
  margin-block: 3rem;
}

.listing a {
  display: inline-grid;
  justify-items: start;
  pointer-events: none;
}

.listing a > * {
  pointer-events: all;
  transition: color .3s;
}

.listing a div {
  display: inline-flex;
  align-items: center;
  border: 2px solid var(--gray);
  padding-inline: .5rem;
  padding-block: .25rem;
  color: var(--yellow);
  outline: 2px solid transparent;
  outline-offset: -2px;
  transition: outline-color .3s;
  border-image-slice: 1;
  border-image-source: conic-gradient(
    from var(--deg, 0deg),
    var(--off-white),
    #999,
    var(--off-white)
  );
}

.listing h3 {
  padding: 0;
}

.listing svg {
  flex-shrink: 0;
  margin-inline-start: 2px;
  margin-inline-end: -4px;
}

.listing time {
  padding-inline: .5rem;
  font-size: 14px;
  font-weight: bold;
  background-color: var(--gray);
  color: var(--gray-dark);
  transition: background-color .3s;
}

.listing a:focus div,
.listing a:hover div {
  outline-color: var(--off-white);
}

.listing a:focus time,
.listing a:hover time {
  background-color: var(--off-white);
}

.listing a:focus div {
  outline: 2px solid var(--off-white);
  outline-offset: -6px;
}

.listing a:focus svg,
.listing a:hover svg {
  animation: .5s wiggle;
  animation-timing-function: ease-in-out;
}

@keyframes wiggle {
  25% { transform: rotate(-6deg); }
  75% { transform: rotate(6deg); }
}