body {
  --bg-color: #5551;
  --bg-inner: 22px;
  --bg-outer: 24px;
  background: var(--gray-dark);
  background-image:
    repeating-linear-gradient(
      90deg,
      #0000 0 var(--bg-inner),
      var(--bg-color) 0 var(--bg-outer)
    ),
    repeating-linear-gradient(
      30deg,
      #0000 0 var(--bg-inner),
      var(--bg-color) 0 var(--bg-outer)
    ),
    repeating-linear-gradient(
      -30deg,
      #0000 0 var(--bg-inner),
      var(--bg-color) 0 var(--bg-outer)
    );
}