.content > * {
  margin-block-start: 1.2em;
}

.content > h2 {
  scroll-margin-block-start: 3em;
  margin-block-start: 3em;
}

.content > h3 {
  scroll-margin-block-start: 2em;
  margin-block-start: 2em;
}

.content h2 a,
.content h3 a {
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 2px;
  transition: text-decoration-color .2s;
}

.content h2 a::after,
.content h3 a::after {
  display: inline-flex;
  margin-inline: .2em;
  content: '#';
  opacity: var(--hash-opacity, 0);
  transition: opacity .2s;
}

.content h2 a:focus-visible,
.content h2 a:hover,
.content h3 a:focus-visible,
.content h3 a:hover {
  text-decoration-color: currentColor;
  --hash-opacity: .7;
}

.content a[href^="http"]::after {
  display: inline-block;
  content: '↗';
  transform: translateY(-.125em);
}

.content code {
  background: var(--gray-dark);
  margin: -1px -2px;
  padding: 1px 2px;
}

.content pre {
  display: flex;
}

.content pre code {
  padding: 4px 8px;
  margin: 0;
  flex-grow: 1;
  font-size: 1rem;
  overflow-x: auto;
}

.cp_embed_wrapper {
  margin-block: 2rem;
}
