p a {
  --highlight-color: var(--off-white);
  color: var(--yellow);
  text-shadow:
    0 1px 0 var(--gray-darker),
    0 -1px 0 var(--gray-darker),
    1px  0 var(--gray-darker),
    -1px 0 0 var(--gray-darker);
  background-image:
    linear-gradient(
      transparent calc(100% - 4px),
      var(--highlight-color) 0 calc(100% - 3px),
      transparent 0
    ),
    linear-gradient(
      transparent calc(100% - 2px),
      var(--highlight-color) calc(100% - 1px) 100%
    );
  background-repeat: no-repeat;
  background-size: 100% 100%, 0 100%;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: background-size .2s;
}

p a:hover {
  background-size: 100% 100%, 100% 100%;
}

p a:focus {
  outline: 1px solid var(--highlight-color);
}

p a:active {
  --highlight-color: var(--white);
}
