.listing {
  margin-block: 4rem;
}

.listing div {
  transition: transform .5s, opacity .5s;
}

.listing div > a {
  display: inline-grid;
  justify-items: start;
  pointer-events: none;
}

.listing div > a > * {
  pointer-events: all;
  transition: color .3s;
}

.listing div > a div {
  position: relative;
  display: inline-flex;
  align-items: center;
  border: 2px solid var(--gray);
  padding-inline: .5rem;
  padding-block: .25rem;
  color: var(--yellow);
  outline: 2px solid transparent;
  outline-offset: -2px;
  transition: outline-color .3s;
  border-image-slice: 1;
  border-image-source: conic-gradient(
    from var(--deg),
    var(--off-white),
    #999,
    var(--off-white)
  );
}

.listing div > a div::before {
  position: absolute;
  inset: 2px;
  border: 2px solid var(--off-white);
  content: '';
  opacity: 0;
  transition: opacity .2s;
}

.listing h2 {
  padding: 0;
}

.listing svg {
  flex-shrink: 0;
  margin-inline-start: 2px;
  margin-inline-end: -4px;
}

.listing div > a:focus {
  outline: none;
}

.listing div > a:hover div {
  outline-color: var(--off-white);
}

.listing div > a:hover time {
  background-color: var(--off-white);
}

.listing div > a:focus-visible div::before {
  opacity: 1;
}

.listing div > a:focus svg,
.listing div > a:hover svg {
  animation: .5s wiggle;
  animation-timing-function: ease-in-out;
}

@keyframes wiggle {
  25% { transform: rotate(-6deg); }
  75% { transform: rotate(6deg); }
}
