@media (min-width: 501px) {
  a.home::before,
  a.home::after {
    font-size: .6em;
    font-weight: 600;
  }

  a.home::before {
    content: '<';
    left: .2em;
  }

  a.home::after {
    content: '-';
    right: .2em;
  }

  a.home:not(:focus, :hover)::before,
  a.home:not(:focus, :hover)::after {
    opacity: 0;
  }
}

a.home[aria-current] {
  display: none;
}
