nav a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  cursor: pointer;
  background: var(--gray-dark-transparent);
  outline: 2px solid transparent;
  outline-offset: -2px;
  border: 2px solid var(--off-white);
  border-image-slice: 1;
  border-image-source: conic-gradient(
    from var(--deg),
    var(--off-white),
    #999,
    var(--off-white)
  );
  height: 2rem;
  padding-inline: .75rem;
  padding-block: .25rem;
  transition: .3s all;
}

nav a::before,
nav a::after {
  position: absolute;
  display: block;
  transition: .2s all;
  content: '';
}

nav a:focus,
nav a:hover {
  outline-color: var(--off-white);
}