figure {
  margin: 0;
  margin-block-start: 1.5rem;
  font-size: 1rem;
  font-family: sans-serif;
}

blockquote {
  margin: 0;
  color: var(--gray);
  font-style: italic;
}

blockquote:before {
  content: '“';
}

blockquote:after {
  content: '”';
}

figcaption div {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  letter-spacing: .05em;
  margin-block-start: .5rem;
}

figcaption cite {
  font-style: normal;
}
