.work-listing {
  margin-block: 6rem;
  align-items: center;
  justify-content: center;
  display: grid;
  column-gap: 4rem;
  row-gap: 1.5rem;
}

.work-listing:nth-child(even) {
  flex-direction: row-reverse;
}

@media (min-width: 720px) {
  .work-listing {
    display: flex;
  }

  .work-listing > div:first-child {
    width: min(30.5rem, 40%);
  }
}

.work-listing h2 {
  margin-block-end: 1em;
}

.work-listing p {
  margin-block-start: .5em;
  margin-block-end: 0;
}
