.work-listing {
  margin-block: 5rem;
  align-items: center;
  justify-content: center;
  display: grid;
  column-gap: 3rem;
  row-gap: 1rem;
}

.work-listing:nth-child(even) {
  flex-direction: row-reverse;
}

@media (min-width: 501px) {
  .work-listing {
    display: flex;
  }

  .work-listing > div:first-child {
    width: min(30rem, 40%);
  }
}

.work-listing h2 {
  margin-block-end: 1em;
}

.work-listing p {
  margin-block: .5em;
}
