a.projects:not([aria-current]) {
  transition: all .15s;
}

a.projects:not([aria-current])::before {
  position: absolute;
  top: 3px;
  right: 100%;
  bottom: 100%;
  left: 3px;
  background:
    linear-gradient(
      -45deg,
      transparent,
      transparent 6px,
      var(--off-white) 0
    );
  z-index: -1;
  transition: all .1s;
}

a.projects:not([aria-current])::after {
  top: -2px;
  width: 18px;
  background:
    linear-gradient(
      var(--gray-dark),
      var(--gray-dark) 5px,
      var(--off-white) 0
    );
  box-shadow: inset 0 0 0 2px var(--gray-dark);
  border: 2px solid var(--off-white);
  border-bottom: none;
  transition: all .15s;
}

a.projects:not([aria-current]):focus,
a.projects:not([aria-current]):hover {
  color: var(--gray-dark);
  transition: all .15s;
}

a.projects:not([aria-current]):focus::before,
a.projects:not([aria-current]):hover::before {
  bottom: 3px;
  right: 3px;
}

a.projects:not([aria-current]):focus::after,
a.projects:not([aria-current]):hover::after {
  top: -4px;
  padding-top: 9px;
  transition: all .15s .1s;
}
