nav button {
  height: 44px;
  background: 0;
  stroke: var(--off-white);
}

nav button path {
  transition: all .2s;
}

nav button path:nth-child(1) {
  transform-origin: center 4px;
}

nav button path:nth-child(2) {
  transform-origin: center;
}

nav button path:nth-child(3) {
  transform-origin: center 12px;
}

nav button[aria-expanded='true'] path:nth-child(1) {
  transform: translateY(4px) rotate(45deg);
}

nav button[aria-expanded='true'] path:nth-child(2) {
  transform: scaleX(0);
}

nav button[aria-expanded='true'] path:nth-child(3) {
  transform: translateY(-4px) rotate(-45deg);
}

@media (min-width: 768px) {
  nav button {
    display: none;
  }
}
