a.games:not([aria-current])::before,
a.games:not([aria-current])::after {
  width: 2px;
  height: 14px;
  background-color: var(--off-white);
}

a.games:not([aria-current])::before {
  left: -2px;
}

a.games:not([aria-current])::after {
  right: -2px;
}

a.games:not([aria-current]):focus::before,
a.games:not([aria-current]):hover::before {
  left: 4px;
  animation: 1s linear infinite alternate play-pong;
}

a.games:not([aria-current]):focus::after,
a.games:not([aria-current]):hover::after {
  right: 4px;
  animation: 1s linear infinite alternate-reverse play-pong;
}

@keyframes play-pong {
  0%   { transform: translateY(-8px); }
  100% { transform: translateY( 8px); }
}
