a.games::before,
a.games::after {
  width: 2px;
  height: 14px;
  background-color: currentColor;
}

@keyframes play {
  0%   { transform: translateY(-8px); }
  100% { transform: translateY( 8px); }
}

a.games::before {
  left: -2px;
}

a.games::after {
  right: -2px;
}

a.games:focus::before,
a.games:hover::before {
  left: 4px;
  animation: 1s linear infinite alternate play;
}

a.games:focus::after,
a.games:hover::after {
  right: 4px;
  animation: 1s linear infinite alternate-reverse play;
}
