a[href='/'] {
  position: relative;
  background: var(--gray-dark);
}

a[href='/']::before {
  position: absolute;
  top: -2px;
  right: 100%;
  display: block;
  width: 2px;
  height: 44px;
  background-color: white;
  transition: all .2s;
  content: '';
}

a[href='/']::after {
  top: 9px;
  right: calc(100% + 10px);
  display: block;
  width: 24px;
  height: 24px;
  background-color: var(--gray-dark);
  content: '';
  clip-path:
    polygon(
      0 12px,
      12px 0,
      24px 12px,
      24px 24px,
      15px 24px,
      15px 15px,
      9px 15px,
      9px 24px,
      0 24px
    );
}

a[href='/']:focus,
a[href='/']:hover {
  margin-left: 50px;
}

a[href='/']:focus::before,
a[href='/']:hover::before {
  width: 44px;
}

a[href='/'][aria-current] {
  display: none;
}
