h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

/* Ideally we don't need smaller than h3 */

.home h1 {
  font-size: 62px;
  margin-top: 0;
  color: var(--yellow);
  opacity: .9; /* Because it's so just we make it a tiny bit "lighter" */
}
