@import '_reset';
@import '_colors';
@import '_header';
@import '_headings';
@import '_home';
@import '_inline-link';
@import '_listing';
@import '_main';
@import '_body';
@import '_body-bg';
@import '_nav';
@import '_nav__a';
@import '_nav__a--blog';
@import '_nav__a--home';
@import '_nav__a--play';
@import '_nav__a--work';
@import '_p';
@import '_screen';
@import '_time';
@import '_work-listing';

main > p,
header,
.listing,
.work-listing,
.content p {
  padding-inline: max(9px, calc(16vw - 80px));
}

main > p,
main header,
.listing,
.content > * {
  max-width: 42rem;
}

.home p {
  max-width: 36rem;
}

main > section {
  display: flow-root;
}

header > p:last-of-type {
  margin-block-end: 0;
}

.content {
  margin-top: 4rem;
}
