/* Inner */
main:not(.home) header h1 {
  margin-top: max(5vw, 48px);
  margin-bottom: max(5vw, 48px);
}

main.home > div {
  max-width: 500px;
}

main.projects header,
main.games header {
  text-align: center;
}

main.post {
  padding: 0 1rem;
}

main.post > * {
  /* At 500px wide this is full width */
  width: calc(50% + 250px - 1rem);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

main.post > time {
  display: flex;
}
