/* Outer */
main header,
main.home,
main.post,
.blog .listings {
  margin: 0 auto;
  max-width: 1200px;
}

main.home {
  padding: 0 1rem;
}

/* Inner */
main:not(.home) header h1 {
  padding: 0 1rem;
  margin: max(6%, 48px) 0;
}

main.home > div {
  max-width: 500px;
}

main.projects header,
main.games header {
  text-align: center;
}

main.post {
  padding: 0 1rem;
}

main.post > * {
  /* At 500px wide this is full width */
  width: calc(50% + 250px - 1rem);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

main.post > time {
  display: flex;
}
