div.projects-list {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 max(16px, 4vw);
}

.projects-list article {
  display: flex;
  margin-bottom: max(10%, 64px);
}

.info > div {
  width: 100%;
  max-width: 360px;
}

@media all and (max-width: 499px) {
  .projects-list article {
    flex-direction: column;
  }
}

@media all and (min-width: 500px) {
  .info {
    display: flex;
    flex-basis: 40%;
    justify-content: flex-end;
  }

  .projects-list article:nth-child(odd) .info {
    padding-right: 48px;
  }

  .projects-list article:nth-child(even) {
    flex-direction: row-reverse;
  }

  .projects-list article:nth-child(even) .info {
    justify-content: flex-start;
    padding-left: 48px;
  }
}
